html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ''; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, fieldset, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

ul, ol {
  list-style: none; }

body, input, button, select, textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

body {
  height: 100%; }

.clear {
  clear: both; }

.container:after, .container-fluid:after, .row:after, .steps:after, .breadcrumbs ul:after, .pagination:after, .pagination .wrap__pagination:after, .pagination ul:after, .right-sidebar .sm__tags ul:after, .header .top-line:after, .header .nav:after, .header .nav ul:after, .footer .social:after, .section-home .wrap-btn:after, .section-tags .tags:after, .item__product:after, .news__content:after, .news__item .bottom-list:after, .news__item .social:after, .product__wrapper .product__item .title:after {
  content: '';
  clear: both;
  display: table;
  width: 100%; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

pre, code {
  font-family: monospace; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

input {
  vertical-align: middle;
  margin: 0;
  padding: 0; }
  input::-ms-clear, input::-ms-reveal {
    display: none;
    width: 0;
    height: 0; }

button,
a.button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image'] {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }

::-moz-selection {
  background: dodgerblue; }

::selection {
  background: dodgerblue; }

.detail__wrapper .slider .img {
  font-size: 0; }
  .detail__wrapper .slider .img:before {
    display: inline-block;
    margin-right: -0.25em;
    height: 100%;
    content: '';
    vertical-align: middle; }

html {
  height: 100%; }

.no-flexbox body {
  min-height: 100%;
  height: 100%;
  display: block !important; }

.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto; }
  .no-flexbox .page-wrapper, .no-flexbox
  .footer {
    width: auto; }

.page-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  height: 100%; }
  .lte-ie-11 .page-wrapper,
  .lt-ie-11 .page-wrapper {
    min-height: 0; }
  .no-flexbox .page-wrapper {
    display: block !important;
    width: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%; }

.page-body {
  -ms-flex: 1;
      flex: 1; }
  .page-body.flex-none {
    -ms-flex: none;
        flex: none; }

.wrapper {
  position: relative; }

.container {
  max-width: 970px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1200px; } }

.container-fluid {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1230px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; } }

@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; } }

@media (min-width: 1230px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; } }

.mod-bg-grean {
  background-color: #6db23d; }

.el-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #6db23d;
  border: 1px solid #6db23d;
  padding: 14px 35px;
  color: #ffffff;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  transition: all 0.2s; }
  .el-btn:hover {
    text-decoration: none;
    background: none;
    color: #6db23d; }

h2 {
  color: #000000;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    h2 {
      font-size: 24px;
      line-height: 30px; } }

.title_page {
  color: #191818;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase; }

.steps {
  display: inline-block; }
  .steps li {
    position: relative;
    float: left;
    padding-left: 200px; }
    @media (max-width: 767px) {
      .steps li {
        padding-left: 55px; } }
    .steps li:first-child {
      padding-left: 0; }
      .steps li:first-child:before {
        display: none; }
    .steps li:before {
      display: inline-block;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #dddddd;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1px; }
    .steps li.active:before {
      background-color: #6db23d; }
    .steps li.active span {
      background-color: #6db23d;
      border-color: #6db23d;
      color: white; }
  .steps span {
    position: relative;
    z-index: 1;
    display: inline-block;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(16, 16, 17, 0.2);
    box-sizing: border-box;
    line-height: 26px;
    text-align: center;
    background-color: #f5f5f5;
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700; }

.breadcrumbs {
  background-color: white;
  line-height: 64px; }
  .breadcrumbs ul {
    font-size: 0; }
  .breadcrumbs li {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    float: left;
    line-height: 64px;
    height: 64px; }
    .breadcrumbs li:first-child a {
      padding-left: 38px; }
    .breadcrumbs li:last-child {
      margin-right: 0; }
      .breadcrumbs li:last-child:after {
        display: none; }
    .breadcrumbs li:after {
      content: '';
      width: 1px;
      height: 14px;
      position: absolute;
      background-color: #433e3e;
      right: -20px;
      top: 25px; }
  .breadcrumbs img {
    position: absolute;
    left: 0;
    top: 21px; }
  .breadcrumbs a, .breadcrumbs span {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300; }
  .breadcrumbs a {
    color: #433e3e; }
  .breadcrumbs span {
    color: #cacaca; }

.pagination {
  background-color: #f7f7f8;
  padding: 60px 0; }
  @media (max-width: 767px) {
    .pagination {
      padding: 0; } }
  .pagination .wrap__pagination {
    display: inline-block; }
  .pagination ul {
    float: left; }
    .pagination ul li {
      float: left;
      margin-right: 25px; }
      @media (max-width: 767px) {
        .pagination ul li:last-child {
          margin-right: 10px; } }
  .pagination a:hover {
    text-decoration: underline;
    color: #6db23d; }
  .pagination a, .pagination span {
    text-align: center;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #424c55;
    display: inline-block; }
  .pagination span {
    width: 27px;
    height: 27px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.09);
    background-color: #ffffff; }
  .pagination .prev {
    float: left;
    margin-right: 25px; }
    @media (max-width: 767px) {
      .pagination .prev {
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 50px;
        margin-right: 10px; } }
  .pagination .next {
    float: left; }
    @media (max-width: 767px) {
      .pagination .next {
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 50px; } }

.sort {
  background-color: #f7f7f8;
  padding-top: 15px; }
  .sort .line {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11); }
  .sort .sort-btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding-right: 20px;
    margin-right: 20px; }
    .sort .sort-btn:active:after {
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .sort .sort-btn:after {
      position: absolute;
      display: inline-block;
      content: "";
      right: 0;
      top: 5px;
      width: 8px;
      height: 5px;
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      background: url(../images/romb.svg) no-repeat center; }
  .sort .sort__search {
    position: relative;
    display: inline-block; }
    .sort .sort__search input {
      width: 188px;
      padding: 6px 30px 8px 15px;
      color: #000;
      border-radius: 32px;
      background-color: #fff;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      border: none;
      box-shadow: none; }
      @media (max-width: 767px) {
        .sort .sort__search input {
          width: 100px; } }
    .sort .sort__search button {
      position: absolute;
      top: 10px;
      right: 10px; }

.popular__tovar {
  padding-left: 32px;
  padding-top: 28px; }
  .popular__tovar h3 {
    color: #555555;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase; }

.top__tovar {
  padding: 26px 0; }

.top__tovar__item {
  text-align: center;
  width: 214px;
  box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.05);
  border: 3px solid #ffffff;
  padding: 0 11px 18px;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: all 0.2s;
  border-radius: 3px;
  margin-bottom: 13px; }
  .top__tovar__item:last-child {
    margin-bottom: 0; }
  .top__tovar__item:hover {
    border-color: #6db23d; }
  .top__tovar__item .wrap__img {
    height: 105px;
    margin: 13px auto; }
    .top__tovar__item .wrap__img img {
      max-height: 100%; }
  .top__tovar__item .name {
    text-align: left;
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .top__tovar__item .desc {
    text-align: left;
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 18px; }
  .top__tovar__item .btn__price {
    display: inline-block;
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    width: 149px;
    height: 38px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid rgba(109, 178, 61, 0.81);
    background-color: rgba(109, 178, 61, 0);
    transition: all 0.2s; }
    .top__tovar__item .btn__price:hover {
      background-color: #6db23d;
      color: white;
      text-decoration: none; }

.right-sidebar {
  background-color: #f7f7f8;
  width: 265px; }
  .right-sidebar .search__sidebar {
    position: relative;
    display: inline-block;
    width: 100%; }
    .right-sidebar .search__sidebar input {
      width: 100%;
      height: 42px;
      box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.13);
      background-color: #ffffff;
      padding: 7px 45px 9px 15px;
      color: #3c4852;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      border: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      box-sizing: border-box; }
    .right-sidebar .search__sidebar button {
      position: absolute;
      top: 14px;
      right: 20px; }
  .right-sidebar .sm__tags {
    margin-bottom: 55px; }
    .right-sidebar .sm__tags h4 {
      color: #1f2b34;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 700;
      line-height: 25px;
      text-transform: uppercase;
      width: 100%;
      padding-bottom: 6px;
      border-bottom: 1px solid white;
      margin-bottom: 14px;
      margin-top: 40px; }
    .right-sidebar .sm__tags ul li {
      float: left;
      margin-right: 5px;
      margin-bottom: 10px; }
      .right-sidebar .sm__tags ul li:nth-child(3n) {
        margin-right: 0; }
    .right-sidebar .sm__tags ul a {
      display: inline-block;
      width: 82px;
      height: 22px;
      border: 1px solid #eeeeee;
      background-color: #ffffff;
      color: #1f2b34;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      transition: all 0.2s; }
      .right-sidebar .sm__tags ul a:hover {
        background-color: #6db23d;
        color: white;
        text-decoration: none; }
  .right-sidebar .subscribe {
    text-align: center;
    box-shadow: 5px 7px 27px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding: 36px 25px 28px; }
    .right-sidebar .subscribe h4 {
      color: #161d2b;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 16px; }
    .right-sidebar .subscribe p {
      color: #3c4852;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 17px;
      margin-bottom: 26px; }
    .right-sidebar .subscribe form {
      position: relative;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.07);
      box-sizing: border-box;
      padding: 2px; }
      .right-sidebar .subscribe form input {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-sizing: border-box;
        padding: 12px 35px 14px 15px;
        color: #424c55;
        font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 400; }
      .right-sidebar .subscribe form button {
        position: absolute;
        right: 13px;
        top: 16px; }

.header {
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  .header .top-line {
    position: relative;
    padding-bottom: 9px;
    text-align: center; }
  .header .menu, .header .close {
    display: none;
    cursor: pointer; }
    @media (max-width: 767px) {
      .header .menu, .header .close {
        display: inline-block;
        width: 30px;
        height: 30px; } }
  .header .menu {
    position: absolute;
    top: -50px;
    right: 0; }
  .header .close {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px; }
  .header .logo {
    display: inline-block;
    width: 250px;
    margin-top: 12px;
    text-decoration: none; }
    @media (max-width: 767px) {
      .header .logo {
        margin-top: 0;
        margin-bottom: 15px; } }
    @media (max-width: 991px) {
      .header .logo img {
        max-width: 125px; } }
    .header .logo span {
      display: inline-block;
      width: 95px;
      margin-top: 2px;
      color: #191818;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px; }
      @media (max-width: 991px) {
        .header .logo span {
          margin-top: -1px; } }
      @media (max-width: 480px) {
        .header .logo span {
          display: none; } }
      .header .logo span b {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px; }
  .header .tell {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    padding-left: 40px;
    color: #000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px; }
    @media (max-width: 991px) {
      .header .tell {
        margin-left: 0; } }
    @media (max-width: 767px) {
      .header .tell {
        margin-bottom: 10px;
        padding-left: 38px;
        float: left; } }
    .header .tell:hover {
      text-decoration: none; }
    .header .tell:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      height: 27px;
      content: "";
      border-radius: 100%;
      background-color: #6db23d;
      background-image: url(../images/phone.png);
      background-repeat: no-repeat;
      background-position: center; }
  .header .phone {
    text-transform: uppercase;
    color: #080808;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px; }
    @media (max-width: 991px) {
      .header .phone {
        display: none; } }
    .header .phone:hover {
      text-decoration: none; }
  .header .nav {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.07); }
    @media (max-width: 767px) {
      .header .nav {
        position: fixed;
        z-index: 99;
        top: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 280px;
        padding: 30px 20px;
        transition: all 0.3s;
        -ms-transform: translateX(280px);
            transform: translateX(280px);
        background-color: #6db23d; } }
    .header .nav.open {
      -ms-transform: translateX(0);
          transform: translateX(0); }
    .header .nav li {
      position: relative;
      float: left;
      margin-right: 60px; }
      @media (max-width: 991px) {
        .header .nav li {
          margin-right: 26px; } }
      @media (max-width: 767px) {
        .header .nav li {
          float: none;
          margin-right: 0; } }
      .header .nav li:last-child {
        margin-right: 0; }
      .header .nav li.active a:after {
        width: 100%;
        height: 4px;
        background-color: #6db23d; }
    .header .nav a {
      display: inline-block;
      padding-bottom: 10px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      color: #000;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 700;
      line-height: 24px; }
      @media (max-width: 767px) {
        .header .nav a {
          color: white; } }
      .header .nav a:hover {
        text-decoration: none; }
      .header .nav a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        content: ""; }

.search__header {
  position: relative;
  display: inline-block;
  margin-left: 30px; }
  @media (max-width: 767px) {
    .search__header {
      float: right; } }
  @media (max-width: 400px) {
    .search__header {
      margin-left: 0; } }
  .search__header input {
    width: 156px;
    height: 27px;
    padding-right: 30px;
    padding-left: 12px;
    color: #000;
    border: 1px solid #6db23d;
    background-color: #fff;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 27px; }
    @media (max-width: 767px) {
      .search__header input {
        width: 100px; } }
  .search__header button {
    position: absolute;
    top: 6px;
    right: 7px; }

.footer {
  padding: 50px 0;
  background-color: #6db23d; }
  .footer p {
    color: #ffffff;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; }
  @media (max-width: 991px) {
    .footer .social {
      margin-top: 20px; } }
  .footer .social li {
    float: left;
    margin-right: 6px; }
    .footer .social li:last-child {
      margin-right: 0; }
  .footer .social a {
    width: 115px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: white;
    line-height: 40px;
    text-align: center;
    transition: all 0.2s; }
    @media (max-width: 767px) {
      .footer .social a {
        width: 40px; } }
    .footer .social a:hover {
      opacity: 0.8;
      text-decoration: none; }
    .footer .social a img {
      vertical-align: middle;
      margin-right: 5px; }
      @media (max-width: 767px) {
        .footer .social a img {
          margin-right: 0; } }
    .footer .social a span {
      display: inline-block;
      padding-bottom: 2px;
      color: #ffffff;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 600;
      line-height: 18px;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        .footer .social a span {
          display: none; } }
    .footer .social a.fb {
      background-color: #2a66b3; }
    .footer .social a.tw {
      background-color: #35bbec; }
    .footer .social a.gp {
      background-color: #e55644; }

.remodal.modal-tell {
  background: url(../images/modal-bg.png) no-repeat center/cover;
  max-width: 645px; }
  @media (max-width: 767px) {
    .remodal.modal-tell {
      background: white;
      max-width: 400px; } }

.remodal.modal-map {
  max-width: 950px;
  padding: 0; }
  .remodal.modal-map h2 {
    text-align: left;
    padding: 20px 30px;
    color: #383838;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; }
  .remodal.modal-map #maps {
    width: 100%;
    height: 400px;
    background-color: #cccccc; }

.form-coll {
  padding-right: 240px; }
  @media (max-width: 767px) {
    .form-coll {
      padding-right: 0; } }
  .form-coll form {
    margin-top: 20px; }
  .form-coll button {
    border-radius: 4px;
    background-color: #6db23d;
    width: 162px;
    height: 40px;
    padding: 0;
    margin-top: 30px;
    text-align: center; }
  .form-coll h2 {
    color: #272727;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    max-width: 325px; }
  .form-coll input {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    color: #2a2a2a;
    border: none;
    box-shadow: none;
    padding-left: 6px;
    width: 100%;
    background: none;
    border-bottom: 1px solid #373737;
    margin-bottom: 10px;
    max-width: 325px; }
  .form-coll p {
    max-width: 325px;
    color: #272727;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 29px; }

.remodal.modal-color {
  padding-top: 10px;
  max-width: 640px;
  text-align: center; }
  .remodal.modal-color h2 {
    color: #272727;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: none; }
  .remodal.modal-color .wrap-color {
    margin-top: 15px;
    display: inline-block;
    height: 220px;
    overflow: auto;
    width: 100%;
    max-width: 520px;
    padding-left: 50px; }
    @media (max-width: 610px) {
      .remodal.modal-color .wrap-color {
        padding-left: 20px; } }
  .remodal.modal-color .item-color {
    width: 100%;
    max-width: 170px;
    text-align: left;
    display: inline-block;
    color: #2b2f3e;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
    cursor: pointer; }
    .remodal.modal-color .item-color.active span:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: url(../images/check.svg) no-repeat center; }
    .remodal.modal-color .item-color span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-sizing: border-box;
      margin-right: 16px; }

.section-home {
  position: relative;
  background: #f7f7f7; }
  .section-home h2 {
    max-width: 350px; }
  .section-home p {
    margin: 50px 0;
    max-width: 455px;
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px; }
  .section-home .item__slider {
    padding-bottom: 115px;
    padding-top: 205px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .section-home .item__slider {
        padding-top: 50px;
        padding-bottom: 50px;
        background-position: left; } }
  .section-home .wrap-btn {
    box-sizing: border-box;
    left: 0;
    height: 0;
    top: 50%;
    margin-top: -30px;
    position: absolute;
    width: 100%;
    padding: 0 75px; }
    @media (max-width: 1229px) {
      .section-home .wrap-btn {
        padding: 0 15px; } }
    @media (max-width: 991px) {
      .section-home .wrap-btn {
        display: none; } }
  .section-home .el-arrow.mod-next {
    float: left; }
  .section-home .el-arrow.mod-prev {
    float: right; }
  .section-home .el-arrow svg {
    fill: #2a2a2a;
    fill-opacity: 0.2; }
    .section-home .el-arrow svg .arr__mod {
      transition: all 0.2s; }
  .section-home .el-arrow:hover svg .arr__mod {
    fill: #272727;
    fill-opacity: 1; }

.section-tags {
  padding: 0; }
  .section-tags .tags {
    margin: 0 -10px;
    text-align: center; }
    .section-tags .tags svg {
      display: inline-block; }
    .section-tags .tags a {
      padding: 0 10px;
      display: inline-block;
      color: #ffffff;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 400;
      line-height: 38px;
      font-size: 22px;
      transition: all 0.2s; }
      .section-tags .tags a:hover {
        opacity: 0.7;
        text-decoration: none; }
      .section-tags .tags a:nth-child(2) {
        font-size: 16px; }
      .section-tags .tags a:nth-child(3) {
        font-size: 22px; }
      .section-tags .tags a:nth-child(4) {
        font-size: 29px; }
      .section-tags .tags a:nth-child(5) {
        font-size: 12px; }
      .section-tags .tags a:nth-child(6) {
        font-size: 20px; }
      .section-tags .tags a:nth-child(7) {
        font-size: 24px; }
      .section-tags .tags a:nth-child(8) {
        font-size: 23px; }
      .section-tags .tags a:nth-child(9) {
        font-size: 31px; }
      .section-tags .tags a:nth-child(10) {
        font-size: 13px; }
      .section-tags .tags a:nth-child(11) {
        font-size: 27px; }
      .section-tags .tags a:nth-child(12) {
        font-size: 23px; }
      .section-tags .tags a:nth-child(13) {
        font-size: 16px; }
      .section-tags .tags a:nth-child(14) {
        font-size: 20px; }

.section-aur-product {
  background-color: white;
  padding-top: 120px;
  padding-bottom: 150px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .section-aur-product {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .section-aur-product h2 {
    margin-bottom: 50px; }
  .section-aur-product .steps {
    margin-top: 50px; }
  .section-aur-product .container-custom {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box; }

.item__product {
  position: relative;
  padding-left: 90px;
  padding-right: 30px;
  min-height: 215px;
  line-height: 215px;
  width: calc(100% + 15px);
  margin: 0 -7px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  transition: all 0.2s; }
  @media (max-width: 991px) {
    .item__product {
      margin-bottom: 15px; } }
  .item__product.mod-1 {
    margin-bottom: 20px;
    padding-left: 120px; }
    @media (max-width: 767px) {
      .item__product.mod-1 {
        padding-left: 90px; } }
    .item__product.mod-1 .img {
      width: 100px;
      top: 64px; }
      @media (max-width: 767px) {
        .item__product.mod-1 .img {
          width: 70px; } }
    @media (max-width: 767px) {
      .item__product.mod-1 .text {
        padding: 30px 0; } }
    .item__product.mod-1 .title {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      line-height: 30px; }
      @media (max-width: 767px) {
        .item__product.mod-1 .title {
          text-align: left; } }
    .item__product.mod-1 .desc {
      font-size: 14px;
      line-height: 24px; }
      @media (max-width: 767px) {
        .item__product.mod-1 .desc {
          font-size: 12px;
          line-height: 20px; } }
    .item__product.mod-1 .link {
      font-size: 14px;
      line-height: 24px; }
      @media (max-width: 767px) {
        .item__product.mod-1 .link {
          font-size: 12px;
          line-height: 20px; } }
  .item__product:hover {
    cursor: pointer;
    box-shadow: 5px 7px 21px rgba(0, 0, 0, 0.08);
    background-color: #f7f7f7; }
  .item__product .img {
    width: 70px;
    position: absolute;
    left: 10px;
    top: 46px;
    height: 70px;
    text-align: center; }
  .item__product .text {
    width: 100%;
    display: inline-block;
    line-height: 0;
    vertical-align: middle; }
  .item__product .title {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #424242;
    font-size: 19px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 15px; }
    @media (max-width: 1229px) {
      .item__product .title {
        font-size: 19px; } }
  .item__product .desc {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px; }
  .item__product .link {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #6db23d;
    font-size: 12px;
    font-weight: 600;
    line-height: 27px;
    text-decoration: underline; }
    .item__product .link:hover {
      text-decoration: none; }

.news__wrapper {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: #f7f7f8; }
  .news__wrapper .sidebar__wrapper {
    margin-top: 60px;
    position: relative;
    width: 100%;
    padding-right: 280px;
    min-height: 610px; }
    @media (max-width: 991px) {
      .news__wrapper .sidebar__wrapper {
        padding-right: 15px; } }
    .news__wrapper .sidebar__wrapper .right-sidebar {
      position: absolute;
      right: 15px;
      top: 30px; }
      @media (max-width: 991px) {
        .news__wrapper .sidebar__wrapper .right-sidebar {
          position: static;
          width: 100%;
          margin-bottom: 30px; } }

.news__content {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px; }
  @media (max-width: 991px) {
    .news__content {
      padding-right: 0;
      margin-bottom: 50px; } }

.news__item {
  width: 100%;
  box-sizing: border-box;
  padding-left: 320px;
  position: relative;
  padding-top: 28px;
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .news__item {
      padding-top: 220px;
      padding-left: 0; } }
  .news__item:last-child {
    margin-bottom: 0; }
  .news__item .data {
    padding-top: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 7px;
    z-index: 2;
    pointer-events: none;
    left: 7px;
    width: 43px;
    height: 43px;
    text-align: center;
    background-color: #8bc53f;
    color: #ffffff;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px; }
    .news__item .data:before {
      content: '';
      width: 43px;
      height: 43px;
      border: 2px solid #8bc53f;
      display: inline-block;
      position: absolute;
      left: -7px;
      top: -7px;
      z-index: -1;
      box-sizing: border-box; }
  .news__item .wrap-img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    max-width: 270px;
    height: 180px;
    left: 28px;
    top: 28px; }
    @media (max-width: 340px) {
      .news__item .wrap-img {
        max-width: 260px; } }
  .news__item .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .news__item .img > img {
      display: none; }
  .news__item .bottom-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(139, 195, 74, 0.85);
    padding: 0 30px 0 20px;
    box-sizing: border-box; }
  .news__item .user {
    display: inline-block;
    color: #eeeeee;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
    position: relative;
    box-sizing: border-box;
    padding-left: 22px;
    margin-top: 7px; }
    .news__item .user:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 10px;
      height: 11px;
      display: inline-block;
      background: url(../images/user.png) no-repeat center; }
  .news__item .social {
    display: inline-block;
    float: right;
    margin-top: 6px; }
    .news__item .social li {
      float: left;
      margin-right: 22px; }
      .news__item .social li:last-child {
        margin-right: 0; }
    .news__item .social a {
      display: inline-block; }
      .news__item .social a:hover {
        opacity: 0.8; }
  @media (max-width: 767px) {
    .news__item .text {
      padding-left: 28px; } }
  .news__item .name {
    color: #1f2b34;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .news__item .desc {
    color: #1f2b34;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 25px;
    overflow: hidden;
    max-height: 82px; }
  .news__item .link {
    color: #64ae30;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px; }

.about__wrapper {
  padding-top: 55px;
  background-color: #f7f7f8; }
  .about__wrapper h2 {
    margin-bottom: 55px; }
  .about__wrapper .border-item {
    width: 100%;
    border: 3px solid #6db23d;
    text-align: center;
    padding: 30px 55px;
    box-sizing: border-box;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .about__wrapper .border-item {
        padding: 30px; } }
    .about__wrapper .border-item h3 {
      color: #383838;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 20px; }
      .about__wrapper .border-item h3 span {
        display: block;
        font-size: 24px;
        line-height: 42px;
        margin-bottom: 15px; }
        @media (max-width: 767px) {
          .about__wrapper .border-item h3 span {
            font-size: 18px;
            line-height: 24px; } }
  .about__wrapper .item-img {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; }
    .about__wrapper .item-img.mod-1 {
      padding-left: 190px; }
      @media (max-width: 991px) {
        .about__wrapper .item-img.mod-1 {
          margin-bottom: 30px;
          padding-top: 220px;
          padding-left: 0; } }
      .about__wrapper .item-img.mod-1 .img {
        width: 190px;
        height: 100%; }
        @media (max-width: 991px) {
          .about__wrapper .item-img.mod-1 .img {
            height: 230px;
            width: 100%; } }
    .about__wrapper .item-img.mod-2 {
      padding-top: 220px; }
      .about__wrapper .item-img.mod-2 .img {
        width: 100%;
        height: 220px; }
      .about__wrapper .item-img.mod-2 .text {
        padding-top: 46px; }
    .about__wrapper .item-img .img {
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .about__wrapper .item-img .text {
      color: #000000;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 23px;
      padding: 30px; }
    .about__wrapper .item-img p a {
      width: 183px;
      text-align: center;
      height: 38px;
      display: inline-block;
      border-radius: 38px;
      border: 2px solid #8bc34a;
      background-color: #ffffff;
      color: #383838;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 700;
      line-height: 34px;
      box-sizing: border-box;
      margin: 0 0 30px 30px;
      text-transform: uppercase; }
      .about__wrapper .item-img p a:hover {
        text-decoration: none; }
  .about__wrapper .direction {
    margin-top: 85px;
    width: 100%;
    padding: 90px 0;
    background-color: white; }
    .about__wrapper .direction h2 {
      margin-bottom: 70px; }
  .about__wrapper .item-direction {
    position: relative;
    box-sizing: border-box;
    padding-left: 65px; }
    @media (max-width: 991px) {
      .about__wrapper .item-direction {
        margin-bottom: 20px; } }
    .about__wrapper .item-direction .img {
      position: absolute;
      top: -10px;
      left: 0;
      text-align: center;
      width: 65px;
      height: 65px;
      line-height: 65px; }
      .about__wrapper .item-direction .img img {
        max-height: 55px;
        max-width: 55px;
        vertical-align: middle; }
    .about__wrapper .item-direction .text {
      color: #000000;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      line-height: 23px;
      font-weight: 300; }
      .about__wrapper .item-direction .text b {
        font-weight: 700; }

.category__wrapper {
  padding-top: 55px;
  background-color: #f7f7f8; }
  .category__wrapper .section-aur-product {
    background-color: #f7f7f8;
    padding-top: 0; }
  .category__wrapper h2 {
    margin-bottom: 55px; }

.product__wrapper {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: #f7f7f8; }
  .product__wrapper .title_page {
    margin-bottom: 30px; }
  .product__wrapper .sidebar__wrapper {
    position: relative;
    width: 100%;
    padding-right: 260px;
    min-height: 940px; }
    @media (max-width: 767px) {
      .product__wrapper .sidebar__wrapper {
        padding-right: 15px; } }
    .product__wrapper .sidebar__wrapper .popular__tovar {
      position: absolute;
      right: 15px;
      top: 0; }
      @media (max-width: 767px) {
        .product__wrapper .sidebar__wrapper .popular__tovar {
          position: static;
          display: none; } }
  .product__wrapper .product__content {
    width: 100%;
    padding-top: 28px; }
    @media (max-width: 767px) {
      .product__wrapper .product__content {
        margin-bottom: 50px; } }
  .product__wrapper .product__item {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-bottom: 10px; }
    .product__wrapper .product__item:last-child {
      margin-bottom: 0; }
    .product__wrapper .product__item.open .arrow {
      fill: #cccccc;
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
      margin-top: -3px; }
    .product__wrapper .product__item.open .content {
      display: block; }
    .product__wrapper .product__item .title {
      border-bottom: 1px solid #e5e5e5;
      background-color: white;
      padding: 21.1px 40px;
      cursor: pointer; }
      @media (max-width: 767px) {
        .product__wrapper .product__item .title {
          padding: 20px; } }
    .product__wrapper .product__item .price {
      color: #b7b7b7;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
      line-height: 13px;
      text-transform: uppercase;
      float: right;
      margin-right: 22px;
      margin-top: 3px;
      position: relative;
      z-index: 1; }
      @media (max-width: 767px) {
        .product__wrapper .product__item .price {
          float: left;
          display: block;
          width: 100%; } }
      .product__wrapper .product__item .price:hover {
        color: #6db23d;
        text-decoration: underline;
        cursor: pointer; }
    .product__wrapper .product__item .name {
      float: left;
      color: #333333;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .product__wrapper .product__item .arrow {
      margin-top: 1px;
      float: right;
      cursor: pointer;
      fill: #6db23d; }
    .product__wrapper .product__item .content {
      padding: 20px 50px 40px 20px;
      color: #414040;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      line-height: 22px;
      border-bottom: 1px solid #e5e5e5;
      display: none; }
      .product__wrapper .product__item .content p {
        margin-bottom: 14px; }
        .product__wrapper .product__item .content p:last-child {
          margin-bottom: 0; }

.detail__wrapper {
  padding-top: 55px;
  background-color: #f7f7f8; }
  .detail__wrapper .slider-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 385px;
    position: relative;
    height: 415px;
    background-color: white;
    margin-bottom: 40px; }
    .detail__wrapper .slider-wrapper .slick-list, .detail__wrapper .slider-wrapper .slick-track, .detail__wrapper .slider-wrapper .slick-slide {
      height: 100%; }
    .detail__wrapper .slider-wrapper .wrap-btn {
      position: absolute;
      right: 0px;
      bottom: 0px;
      text-align: right; }
      .detail__wrapper .slider-wrapper .wrap-btn .el-arrow {
        display: inline-block !important;
        margin-left: 3px;
        line-height: 58px;
        text-align: center;
        width: 50px;
        height: 50px;
        border: 1px solid #6db23d;
        transition: all 0.2s; }
        .detail__wrapper .slider-wrapper .wrap-btn .el-arrow:hover {
          color: white;
          background-color: #6db23d; }
          .detail__wrapper .slider-wrapper .wrap-btn .el-arrow:hover svg {
            fill: white; }
        .detail__wrapper .slider-wrapper .wrap-btn .el-arrow svg {
          width: 12px;
          height: 20px;
          display: inline-block;
          fill: #6db23d; }
  .detail__wrapper .slider {
    width: 100%;
    height: 100%;
    background-color: white; }
    .detail__wrapper .slider .img {
      height: 100%;
      text-align: center; }
      .detail__wrapper .slider .img img {
        vertical-align: middle;
        display: inline-block; }
  .detail__wrapper .name {
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .detail__wrapper .label-detail {
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px; }
  .detail__wrapper .list-props {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8; }
    .detail__wrapper .list-props li {
      color: #000000;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif; }
    .detail__wrapper .list-props .wrap {
      position: relative; }
      .detail__wrapper .list-props .wrap .el-btn {
        float: right;
        margin-top: -44px; }
        @media (max-width: 767px) {
          .detail__wrapper .list-props .wrap .el-btn {
            margin-top: 10px;
            float: none; } }
  .detail__wrapper .color {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8e8e8; }
    .detail__wrapper .color .label-detail {
      margin-bottom: 20px; }
    .detail__wrapper .color a {
      color: #000000;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 400;
      line-height: 12px;
      text-transform: uppercase;
      padding: 10px 25px;
      display: inline-block;
      margin-right: 10px;
      border-radius: 5px;
      background-color: #ffffff;
      transition: all 0.2s; }
      .detail__wrapper .color a:hover {
        text-decoration: none;
        background-color: #6db23d;
        color: white; }
  .detail__wrapper .fas .label-detail {
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block; }
  .detail__wrapper .fas select {
    padding: 0px 25px;
    display: inline-block;
    height: 32px;
    width: 170px;
    background-color: white;
    border: 1px solid rgba(16, 16, 17, 0.2);
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px; }
  .detail__wrapper .desc .label-detail {
    margin-bottom: 24px; }
  .detail__wrapper .desc p {
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 24px; }
  .detail__wrapper .delivery {
    margin: 50px 0;
    display: inline-block;
    padding: 20px 30px;
    border: 1px dashed #6db23d;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    color: #616161; }
    .detail__wrapper .delivery span {
      color: #6db23d; }

.form-wrap {
  padding: 60px 0 90px;
  background: #f7f7f7 url(../images/bg-contact.jpg) no-repeat center/cover; }
  @media (max-width: 767px) {
    .form-wrap {
      background: #f7f7f7; } }
  .form-wrap .title_page {
    line-height: 40px;
    margin-bottom: 10px; }
  .form-wrap p {
    color: #000000;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px; }
  .form-wrap .el-btn {
    border-radius: 42px;
    margin-top: 20px; }
  .form-wrap form {
    max-width: 350px;
    margin-top: 20px; }
  .form-wrap input {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    color: #2a2a2a;
    border: none;
    box-shadow: none;
    padding-left: 6px;
    width: 100%;
    background: none;
    border-bottom: 1px solid #373737;
    margin-bottom: 10px; }

.map-wrap {
  padding: 70px 0 80px;
  background-color: white; }
  .map-wrap .btn-download {
    display: inline-block;
    height: 50px;
    border: 1px solid #81b73b;
    border-radius: 50px;
    line-height: 48px;
    padding-left: 26px;
    padding-right: 6px;
    background-color: rgba(109, 178, 61, 0); }
    .map-wrap .btn-download:hover {
      text-decoration: none; }
      .map-wrap .btn-download:hover span {
        opacity: 0.9; }
    .map-wrap .btn-download span {
      margin-left: 40px;
      display: inline-block;
      border-radius: 38px;
      width: 122px;
      height: 38px;
      border: 1px solid #81b73b;
      background-color: #6db23d;
      color: #ffffff;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 600;
      line-height: 36px;
      padding-left: 22px;
      box-sizing: border-box;
      text-transform: uppercase;
      position: relative; }
      .map-wrap .btn-download span:after {
        position: absolute;
        right: 16px;
        top: 8px;
        content: '';
        width: 19px;
        height: 19px;
        display: inline-block;
        background: url(../images/download-1.png) no-repeat center; }
  .map-wrap .item-address {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-bottom: 30px; }
    .map-wrap .item-address #gmap_canvas {
      width: 100%;
      height: 345px;
      background-color: #f7f7f7; }
    .map-wrap .item-address .title {
      padding-left: 44px;
      position: relative;
      color: #353e49;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-right: 15px;
      margin-left: 35px; }
      .map-wrap .item-address .title:before {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -16px;
        content: '';
        height: 33px;
        width: 33px;
        background: url(../images/marck-1.png) no-repeat center; }
    .map-wrap .item-address p {
      color: #000000;
      font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      margin-left: 35px;
      margin-right: 15px; }
      .map-wrap .item-address p a {
        display: inline-block;
        position: relative;
        color: #6db23d;
        font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
        text-decoration: underline;
        margin-bottom: 25px;
        padding-right: 36px; }
        .map-wrap .item-address p a:before {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -11px;
          content: '';
          height: 22px;
          width: 22px;
          background: url(../images/plus-circle.png) no-repeat center; }

/*# sourceMappingURL=style.css.map */
