// index/home page
//-----------------------------------------------------------------------------------
.section-home
  position: relative
  background: #f7f7f7

  h2
    max-width: 350px
  p
    margin: 50px 0
    max-width: 455px
    color: #000000
    font-family: $open
    font-size: 18px
    font-weight: 400
    line-height: 33px
  .item__slider
    padding-bottom: 115px
    padding-top: 205px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    @media (max-width: $screen-xs-max)
      padding-top: 50px
      padding-bottom: 50px
      background-position: left

  .wrap-btn
    box-sizing: border-box
    left: 0
    height: 0
    @extend %clear-fix
    top: 50%
    margin-top: -30px
    position: absolute
    width: 100%
    padding: 0 75px
    @media (max-width: $screen-md-max)
      padding: 0 15px
    @media (max-width: $screen-sm-max)
      display: none

  .el-arrow
    &.mod-next
      float: left
    &.mod-prev
      float: right
    svg
      fill: #2a2a2a
      fill-opacity: 0.2
      .arr__mod
        transition: all 0.2s

    &:hover
      svg .arr__mod
        fill: #272727
        fill-opacity: 1

.section-tags
  padding: 0

  .tags
    @extend %clear-fix
    margin: 0 -10px
    text-align: center
    svg
      display: inline-block
    a
      padding: 0 10px
      display: inline-block
      color: #ffffff
      font-family: $open
      font-weight: 400
      line-height: 38px
      font-size: 22px
      transition: all 0.2s
      &:hover
        opacity: 0.7
        text-decoration: none
      &:nth-child(2)
        font-size: 16px
      &:nth-child(3)
        font-size: 22px
      &:nth-child(4)
        font-size: 29px
      &:nth-child(5)
        font-size: 12px
      &:nth-child(6)
        font-size: 20px
      &:nth-child(7)
        font-size: 24px
      &:nth-child(8)
        font-size: 23px
      &:nth-child(9)
        font-size: 31px
      &:nth-child(10)
        font-size: 13px
      &:nth-child(11)
        font-size: 27px
      &:nth-child(12)
        font-size: 23px
      &:nth-child(13)
        font-size: 16px
      &:nth-child(14)
        font-size: 20px


.section-aur-product
  background-color: white
  padding-top: 120px
  padding-bottom: 150px
  overflow: hidden
  @media (max-width: $screen-xs-max)
    padding-top: 50px
    padding-bottom: 50px

  h2
    margin-bottom: 50px

  .steps
    margin-top: 50px

  .container-custom
    width: 100%
    max-width: 970px
    margin: 0 auto
    padding: 0 15px
    box-sizing: border-box

.item__product
  @extend %clear-fix
  position: relative
  padding-left: 90px
  padding-right: 30px
  min-height: 215px
  line-height: 215px
  width: calc(100% + 15px)
  margin: 0 -7px
  box-sizing: border-box
  border: 1px solid rgba(0, 0, 0, 0.15)
  background-color: #ffffff
  transition: all 0.2s
  @media (max-width: $screen-sm-max)
    margin-bottom: 15px

  &.mod-1
    margin-bottom: 20px
    padding-left: 120px
    @media (max-width: $screen-xs-max)
      padding-left: 90px
    .img
      width: 100px
      top: 64px
      @media (max-width: $screen-xs-max)
        width: 70px

    .text
      @media (max-width: $screen-xs-max)
        padding: 30px 0
    .title
      text-align: center
      font-size: 22px
      font-weight: 700
      line-height: 30px
      @media (max-width: $screen-xs-max)
        text-align: left
    .desc
      font-size: 14px
      line-height: 24px
      @media (max-width: $screen-xs-max)
        font-size: 12px
        line-height: 20px
    .link
      font-size: 14px
      line-height: 24px
      @media (max-width: $screen-xs-max)
        font-size: 12px
        line-height: 20px

  &:hover
    cursor: pointer
    box-shadow: 5px 7px 21px rgba(0, 0, 0, 0.08)
    background-color: #f7f7f7

  .img
    width: 70px
    position: absolute
    left: 10px
    top: 46px
    height: 70px
    text-align: center

  .text
    width: 100%
    display: inline-block
    line-height: 0
    vertical-align: middle

  .title
    font-family: $open
    color: #424242
    font-size: 19px
    font-weight: 700
    line-height: 29px
    text-transform: uppercase
    margin-bottom: 15px
    @media (max-width: $screen-md-max)
      font-size: 19px

  .desc
    font-family: $open
    color: #424242
    font-size: 12px
    font-weight: 400
    line-height: 20px
    margin-bottom: 5px

  .link
    font-family: $open
    color: $grean
    font-size: 12px
    font-weight: 600
    line-height: 27px
    text-decoration: underline
    &:hover
      text-decoration: none