.test {
  display: block;
}
.remodal-overlay.remodal-is-closing,
.remodal-overlay.remodal-is-opening,
.remodal.remodal-is-closing,
.remodal.remodal-is-opening {
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening {
  filter: blur(3px);
}

.remodal-overlay {
  background: rgba(43,46,56,.9);
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

.remodal-wrapper {
  padding: 10px 10px 0;
}

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0,0,0);
  color: #2b2e38;
  background: #fff;
}

.remodal-close,
.remodal-close:before {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
}

.remodal-cancel,
.remodal-close,
.remodal-confirm {
  overflow: visible;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

.remodal-close {
  top: 10px;
  right: 10px;
  padding: 0;
  transition: color .2s;
  color: #95979c;
  background: 0 0;
}

.remodal-close:focus,
.remodal-close:hover {
  color: #2b2e38;
}

.remodal-close:before {
  top: 0;
  content: '';
  left: 0;
  background: url("../images/cancel.png") center no-repeat;
}

.remodal-cancel,
.remodal-confirm {
  display: inline-block;
  min-width: 110px;
  padding: 12px 0;
  transition: background .2s;
  text-align: center;
  vertical-align: middle;
  font: inherit;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:focus,
.remodal-confirm:hover {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:focus,
.remodal-cancel:hover {
  background: #ef5350;
}

.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner,
.remodal-confirm::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(.95);
    opacity: 0;
    filter: blur(0);
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (min-width:641px) {
  .remodal {
    max-width: 700px;
  }
}

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.remodal,
[data-remodal-id] {
  display: none;
}

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: "";
}

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.remodal {
  position: relative;
  outline: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  display: inline-block;
}
.slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slick-track {
  top: 0;
  left: 0;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}