<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">
    <include src="../chunks/header.html"></include>
    <include src="../chunks/bread.html"></include>
    <div id="page-body" class="page-body">
      <div class="about__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title_page">о компании</h2>
            </div>
            <div class="col-md-6">
              <div class="border-item">
                <h3><span>О КОМПАНИИ ООО "ОРГАНИКТРЕЙД"</span>
                  МЫ ЗАНИМАЕМСЯ ДИСТРИБЬЮЦИЕЙ ХИМИЧЕСКОГО
                  СЫРЬЯ НА РОССИЙСКОМ РЫНКЕ БОЛЕЕ 5 ЛЕТ.</h3>
              </div>
              <div class="item-img mod-1">
                <div class="img" style="background-image: url(images/about-1.png)"></div>
                <p class="text">За это время была проделана большая работа, результатом которой являются крепкие деловые отношения с постоянными клиентами, в число которых
                  входят как крупные корпорации с мировым именем, так и
                  небольшие компании.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="item-img mod-2">
                <div class="img" style="background-image: url(images/about-2.png)"></div>
                <p class="text">Основным и приоритетным направлением деятельности нашей компании являются поставки растворителей и лакокрасочных материалов на предприятия УРФО, а также ХМАО и ЯМАО.  Но мы не останавливаемся на этом и стараемся помочь нашим клиентам закрыть их потребности и по другим позициям.</p>
                <p><a href="#">посмотреть продукцию</a></p>
              </div>
            </div>
          </div>
        </div>
      <div class="direction">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title_page">НОВОЕ НАПРАВЛЕНИЕ</h2>
            </div>
            <div class="col-md-4">
              <div class="item-direction">
                <div class="img">
                  <img src="images/factory-1.png" alt="img">
                </div>
                <p class="text">
                  В 2014 году «ОрганикТрейд» запустило <b>новое направление деятельности</b> «Органика» - собственное производство водоэмульсионных  акриловых материалов .
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-direction">
                <div class="img">
                  <img src="images/factory-2.png" alt="img">
                </div>
                <p class="text">
                  Уже за один год, многие промышленные предприятия и строительные организации Свердловской области по достоинству оценили <b>высокое качество и приемлемые цены</b> нашей продукции.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item-direction">
                <div class="img">
                  <img src="images/factory-3.png" alt="img">
                </div>
                <p class="text">
                  <b>Большой выбор</b> акриловой краски, для наружных и внутренних работ, поможет Вам правильно подобрать необходимый вариант облагородить и украсить Ваше предприятие!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
