<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">

    <include src="../chunks/header.html"></include>
    <div id="page-body" class="page-body">
      <div class="category__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title_page">Выберите категорию товара</h2>
            </div>
          </div>
        </div>
        <div class="section-aur-product">
          <div class="container-custom">
            <div class="row">
              <div class="col-md-12">
                <div class="item__product mod-1">
                  <div class="img">
                    <img src="images/categori-1.png" alt="img">
                  </div>
                  <div class="text">
                    <div class="title">РАСТВОРИТЕЛИ</div>
                    <div class="desc">Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна.</div>
                    <a href="production.html" class="link">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item__product">
                  <div class="img">
                    <img src="images/categori-2.png" alt="img">
                  </div>
                  <div class="text">
                    <div class="title">ТЕХНИЧЕСКАЯ
                      ХИМИЯ</div>
                    <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                    <a href="production.html" class="link">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item__product">
                  <div class="img">
                    <img src="images/categori-3.png" alt="img">
                  </div>
                  <div class="text">
                    <div class="title">лакокрасочные материалы</div>
                    <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                    <a href="production.html" class="link">Подробнее</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item__product">
                  <div class="img">
                    <img src="images/categori-4.png" alt="img">
                  </div>
                  <div class="text">
                    <div class="title">Водоэмульсион-ные краски</div>
                    <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                    <a href="production.html" class="link">Подробнее</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
