<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">
    <include src="../chunks/header.html"></include>
    <include src="../chunks/bread.html"></include>
    <div id="page-body" class="page-body">
      <div class="detail__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-center">
              <div class="slider-wrapper">
                <div class="slider">
                  <div class="img">
                    <img src="images/tovar-img-1.jpg" alt="img">
                  </div>
                  <div class="img">
                    <img src="images/tovar-img-2.jpg" alt="img">
                  </div>
                </div>
                <div class="wrap-btn"></div>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="name">BLUE-CAR Растворитель нитро 5л</div>
              <ul class="list-props">
                <li><b>Производитель:</b> BLUE-CAR</li>
                <li><b>Модель:</b> 00000027023</li>
                <li><b>Наличие:</b> Есть в наличии</li>
                <li class="wrap"><a href="#" class="el-btn">Запросить цену</a></li>
              </ul>

              <div class="desc">
                <div class="label-detail"><b>Описание:</b></div>
                <p>Представляет собой смесь органических растворителей. Используется для добавления в лаки, разбавления нитроцеллюлозных, масляных, лакокрасочных материалов, нитро покрытий и синтетических смол. </p>
              </div>

              <div class="fas">
                <div class="label-detail"><b>Фасовка:</b></div>
                <select>
                  <option value="2,5 кг">2,5 кг</option>
                  <option value="2,5 кг">1,5 кг</option>
                  <option value="2,5 кг">3,5 кг</option>
                  <option value="2,5 кг">4,5 кг</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <div class="delivery">
                Доставка по екатиренбургу в течении суток! При заказе на сумму 2000руб  доставка <span>БЕСПЛАТНАЯ.</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    <include src="../chunks/footer.html"></include>
      <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
