<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <!-- Begin page body -->
    <div id="page-body" class="page-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            content
          </div>
        </div>
      </div>
    </div>
    <!-- End page body -->

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
