<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">

    <include src="../chunks/header.html"></include>
    <div id="page-body" class="page-body">
      <div class="section-home">
        <div class="js-section-home">
        <div class="item__slider" style="background-image: url(images/bg-home.png);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>лакокрасочные
                  материалы</h2>
                <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. </p>
                <a href="#" class="el-btn">подробнее</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item__slider" style="background-image: url(images/bg-home.png);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Lorem ipsum dolor.</h2>
                <p>Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан. </p>
                <a href="#" class="el-btn">подробнее</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="wrap-btn"></div>
      </div>
      <div class="section-tags mod-bg-grean">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tags" id="tag-cloud"></div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-aur-product">
        <div class="container-custom">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-sm-center">наша продукция</h2>
            </div>
            <div class="col-md-4">
              <div class="item__product">
                <div class="img">
                  <img src="images/categori-3.png" alt="img">
                </div>
                <div class="text">
                  <div class="title">лакокрасочные материалы</div>
                  <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                  <a href="production.html" class="link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item__product">
                <div class="img">
                  <img src="images/categori-1.png" alt="img">
                </div>
                <div class="text">
                  <div class="title">РАСТВОРИТЕЛИ</div>
                  <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                  <a href="production.html" class="link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item__product">
                <div class="img">
                  <img src="images/categori-4.png" alt="img">
                </div>
                <div class="text">
                  <div class="title">Водоэмульсион-ные краски</div>
                  <div class="desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</div>
                  <a href="production.html" class="link">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <ul class="steps">
                <li class="active"><span>1</span></li>
                <li class="active"><span>2</span></li>
                <li><span>3</span></li>
                <li><span>4</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
