<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">
    <include src="../chunks/header.html"></include>
    <include src="../chunks/bread.html"></include>
    <div id="page-body" class="page-body">
      <div class="news__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title_page">Наши новости</h2>
            </div>
            <div class="col-md-12 sidebar__wrapper">

              <include src="../chunks/right-sidebar.html"></include>
              <div class="news__content">
                <div class="news__item">
                  <div class="data">26 Февр</div>
                  <div class="wrap-img">
                  <div class="img" style="background-image: url(images/news.jpg)">
                    <img src="images/news.jpg" alt="img">
                    <div class="bottom-list">
                      <div class="user">Автор</div>
                      <ul class="social">
                        <li><a href="#"><img src="images/fb.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/tw.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/gp.svg" alt="img"></a></li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class="text">
                    <p class="name">Возможности на сайте компании</p>
                    <p class="desc">Уважаемые посетители, мы очень рады приветствовать Вас на нашем официальном сайте, здесь вы сможете полностью ознакомиться с каталогом, а также вы сможете увидеть контакты, реквизиты компании.</p>
                    <a href="#" class="link">Подробнее...</a>
                  </div>
                </div>
                <div class="news__item">
                  <div class="data">26 Февр</div>
                  <div class="wrap-img">
                  <div class="img" style="background-image: url(images/news-1.jpg)">
                    <img src="images/news-1.jpg" alt="img">
                    <div class="bottom-list">
                      <div class="user">Автор</div>
                      <ul class="social">
                        <li><a href="#"><img src="images/fb.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/tw.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/gp.svg" alt="img"></a></li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class="text">
                    <p class="name">Возможности на сайте компании</p>
                    <p class="desc">Уважаемые посетители, мы очень рады приветствовать Вас на нашем официальном сайте, здесь вы сможете полностью ознакомиться с каталогом, а также вы сможете увидеть контакты, реквизиты компании.</p>
                    <a href="#" class="link">Подробнее...</a>
                  </div>
                </div>
                <div class="news__item">
                  <div class="data">26 Февр</div>
                  <div class="wrap-img">
                  <div class="img" style="background-image: url(images/news-2.jpg)">
                    <img src="images/news-2.jpg" alt="img">
                    <div class="bottom-list">
                      <div class="user">Автор</div>
                      <ul class="social">
                        <li><a href="#"><img src="images/fb.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/tw.svg" alt="img"></a></li>
                        <li><a href="#"><img src="images/gp.svg" alt="img"></a></li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class="text">
                    <p class="name">Возможности на сайте компании</p>
                    <p class="desc">Уважаемые посетители, мы очень рады приветствовать Вас на нашем официальном сайте, здесь вы сможете полностью ознакомиться с каталогом, а также вы сможете увидеть контакты, реквизиты компании.</p>
                    <a href="#" class="link">Подробнее...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="text-center">
      <include src="../chunks/pagination.html"></include>
      </div>
      </div>
    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
