<include src="../chunks/head.html"></include>
</head>

<body>
  <div id="page-wrapper" class="page-wrapper">
    <include src="../chunks/header.html"></include>
    <include src="../chunks/bread.html"></include>
    <div id="page-body" class="page-body">
      <div class="product__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title_page">Растворители</h2>
            </div>
          </div>
        </div>
        <include src="../chunks/sort.html"></include>
        <div class="container">
          <div class="row">
            <div class="col-md-12 sidebar__wrapper">
              <include src="../chunks/popular-tovar.html"></include>
              <div class="product__content">
                <div class="product__item open">
                  <div class="title">
                    <a href="detail.html" class="name">АЦЕТОН</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail.html" class="name">КЕРОСИН</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">МЕТИЛЕН ХЛОРИСТЫЙ</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">ЭТИЛАЦЕТАТ МАРКИ А</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail.html" class="name">НЕФРАС С2-80/120</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">РАСТВОРИТЕЛЬ 646</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">РАСТВОРИТЕЛЬ Р-4</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail.html" class="name">БУТИЛАЦЕТАТ МАРКИ А</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">КСИЛОЛ НЕФТЯНОЙ</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
                <div class="product__item">
                  <div class="title">
                    <a href="detail-1.html" class="name">ОРТОКСИЛОЛ</a>
                    <div class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="13" viewBox="0 0 22 13"><path d="M3.14 1.52L11 9.38l7.96-7.96A1.5 1.5 0 0 1 21.5 2.5c0 .4-.16.77-.42 1.04l-9 9a1.5 1.5 0 0 1-2.16 0l-9-9a1.5 1.5 0 1 1 2.22-2.02z"/></svg>
                    </div>
                    <a href="detail-1.html" class="price">Запросить цену</a>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.</p>
                    <p>Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <include src="../chunks/pagination.html"></include>
        </div>
      </div>
    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>
